<div class="footcontainer aos-init foot_top_wave_activate aos-animate" data-aos="fade-up" data-aos-duration="3s">
    <div class="foot_top_wave_activate">

        <svg class="whitesmoke" xmlns="http://www.w3.org/2000/svg" class="footerwave" viewBox="0 0 1440 280"
            version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
            style="enable-background:new 0 0 1440 350;" xml:space="preserve">
            <g>
                <path fill="#26272b" id="p1"
                    d="M0,319.5V135.5c0,0,102.4-19.6,340.6-17.7s122.1,8.1,216.1,13.4s173.6,30,221.9,29.8c48.4-0.1, 194.4-21.2, 311.6-22.6s121.5-17.1, 168.4-11.9c76.9, 5.3, 192.7, 27.1, 177.8, 28.5c45, 1.5, 129.5-2.6, 229-20.9 s154.3-77.9, 884.3-128.5c0.1-50.6, 0.3, 283.7, 0.3, 283.7L0, 289.5z" />
            </g>
        </svg>
    </div>

    <div class="footersection">
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita sit voluptatum corrupti
                            magni nulla nemo minus culpa dolorem, voluptates fugit, ducimus rerum eum sunt provident
                            cupiditate neque et in eveniet.</p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="#">List 1</a></li>
                            <li><a href="#">List 2</a></li>
                            <li><a href="#">List 3</a></li>
                            <li><a href="#">List 4</a></li>

                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Contribute</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                            <a href="#">Company Name</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>