<div class="whitesmoke">
<app-header></app-header>
<!-- <app-liquid-button></app-liquid-button> -->

<div class="mt-5 rounded" id="overlay" style="">
    <app-carosel></app-carosel>
</div>

    <div class="container">




        <section class="d-block" id="basiccards">
            <div class="row  mx-auto py-sm-2">

                <div 
                    class="col-lg-4 my-2 position-relative" style="top:-100px;z-index: 999;">

                    <div class="card shadow h-100">
                        <img loading="lazy" src="assets/images/architect.jpg" style="object-fit:cover;
                                width:100%;
                                height:150px;" class="card-img-top" alt="builder working">

                        <div class="card-body">
                            <h3 class="text-center">Builder</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>

                    </div>
                </div>
                <div 
                    class="col-lg-4 my-2 position-relative" style="top:-100px;z-index: 999;">

                    <div class="card shadow h-100">
                        <img loading="lazy" src="assets/images/paint.jpg" style="object-fit:cover;
                                width:100%;
                                height:150px;" class="card-img-top" alt="jaswi_paint paint working">

                        <div class="card-body">
                            <h3 class="text-center">Painter</h3>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>

                    </div>
                </div>
                <div 
                    class="col-lg-4 my-2 position-relative" style="top:-100px;z-index: 999;">

                    <div class="card shadow h-100">
                        <img loading="lazy" src="assets/images/carpentry.jpg" style="object-fit:cover;
                                width:100%;
                                height:150px;" class="card-img-top" alt="jaswi_paint carpentry working">
                        <div class="card-body">
                            <h3 class="text-center">Carpentar</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="chooseService" class="mb-5 pb-5 mt-5 section-pad" data-aos="zoom-in-up">
            <h2 class="pb-4 cursive">Why choose our services ?</h2>

            <div class="card-deck">
                <div class="card border-0" data-aos="fade-left">
                    <img class="card-img-top"
                        loading="lazy" src="https://images.pexels.com/photos/5691471/pexels-photo-5691471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="jaswi_paint services">
                    <div class="card-body">
                        <h5 class="card-title">Trained Professionals</h5>
                        <p class="card-text">
                            We have a panel of excellent contractors and painters, with respect to our
                            service range. They ensure correct procedures are followed at the time of working.
                        </p>
                    </div>
                </div>
                <div class="card border-0" data-aos="fade-down">
                    <img class="card-img-top"
                        loading="lazy" src="https://images.pexels.com/photos/5438813/pexels-photo-5438813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="jaswi_paint services">
                    <div class="card-body">
                        <h5 class="card-title">External Paintings</h5>
                        <p class="card-text">To bring aesthetic look to your home consult our experienced panel of
                            painters.
                            Consultation is done for free
                        </p>

                    </div>
                </div>
                <div class="card border-0" data-aos="fade-right">
                    <img class="card-img-top"
                        loading="lazy" src="https://images.pexels.com/photos/5699475/pexels-photo-5699475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="jaswi_paint services">
                    <div class="card-body">
                        <h5 class="card-title">Colour Consultation</h5>
                        <p class="card-text">To bring aesthetic look to your home consult our experienced panel of
                            painters.
                            Consultation is done for free
                        </p>

                    </div>
                </div>
            </div>

        </section>
        <section class="d-block section-pad" style="min-height:400px" data-aos="zoom-in-up">
            <div class="row mx-auto">
                <div class="col-lg-8 col-md-12">
                    <div class="card border-0 bg-transparent">
                        <div class="my-carousel">
                            <ul class="my-carousel-items">
                                <li id="item1" class="my-carousel-item active">
                                    <img loading="lazy" src="assets/images/greenroom.jpg" alt="jaswi_paint interiors">
                                </li>
                                <li id="item2" class="my-carousel-item">
                                    <img loading="lazy" src="assets/images/kitchen.jpg" alt ="jaswi_paint interiors">
                                </li>
                                <li id="item3" class="my-carousel-item">
                                    <img loading="lazy" src="assets/images/studyroom.jpg" alt ="jaswi_paint interiors">
                                </li>
                                <li id="item4" class="my-carousel-item">
                                    <img loading="lazy" src="assets/images/livingroomsofa.jpg" alt ="jaswi_paint interiors">
                                </li>
                                <li id="item5" class="my-carousel-item">
                                    <img loading="lazy" src="assets/images/toiletinterior.jpg" alt ="jaswi_paint interiors">
                                </li>
                            </ul>
                        </div>

                        <ul class="my-carousel-nav">
                            <li><a href="#item1">1</a></li>
                            <li><a href="#item2">2</a></li>
                            <li><a href="#item3">2</a></li>
                            <li><a href="#item4">2</a></li>
                            <li><a href="#item5">2</a></li>

                        </ul>
                    </div>

                </div>
                <div class=" col-lg-4 col-md-12 card bg-transparent border-0">
                    <div style="font-size: 14px;" class="card bg-transparent border-0" data-aos="zoom-in-up">
                        <h3 class="text-justify pb-3 cursive">Interior Design</h3>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                        with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div class="w-sm-100 w-md-25 my-auto">

                        <button type="button" class="btn btn-outline-secondary">Contact Us</button>
                    </div>
                </div>

            </div>
        </section>





        <section class="d-block section-pad" style="min-height:400px;" data-aos="flip-down">
            <div class="row mx-auto py-5 my-5">

                <div class="col-lg-8 col-md-12 card bg-transparent border-0" data-aos="zoom-in-up">


                    <div style="font-size: 14px;" class="">
                        <h3 class="text-left pb-3 cursive">Furniture Design</h3>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                        with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>

                    <div class="w-sm-100 w-md-25 mt-5 pt-5">

                        <button type="button" class="btn btn-outline-secondary">Contact Us</button>
                    </div>
                    <!-- <button type="button" class="ml-1 mt-2 btn btn-outline-secondary w-lg-25 w-sm-100 rounded-0">Read More</button> -->




                </div>
                <div class="col-lg-4 col-md-12">
                    <!-- <span class="d-none d-lg-block" data-aos="zoom-in-up" style="
                            border: 1px solid grey;
                            height: 350px;
                            position: relative;
                            top: -370px;
                            left: 27px;
                            border-bottom-right-radius: 48%;
                            border-bottom-left-radius: 48%;
                        "></span> -->
                    <!-- <div data-aos="zoom-in-up" class="card bg-transparent border-0 mt-2"><img
                            loading="lazy" src="assets/images/woodenChair.png" alt="paint working" class="card-img-top cliping" style="">
                        </div> -->

                    <!-- <div style="object-fit: cover; width: 100%; height: 350px; border-bottom-left-radius: 48%; border-bottom-right-radius: 48%;"></div> -->
                    <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <img _ngcontent-nol-c20="" class="position-absolute" width="300" height="300" style="top: -40px;left: 49px;" loading="lazy" src="assets/images/woodenChair.png" alt ="jaswi_paint furnitures">
                        <svg id="sw-js-blob-svg" class="moving_shape" viewBox="0 0 100 100" width="500"
                            xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <path fill="greenyellow"
                                d="M25.2,-29.8C30.7,-25.3,31.9,-15.6,33.4,-6C35,3.5,36.7,12.9,33.3,19.7C29.9,26.5,21.3,30.8,12.1,34.9C2.9,38.9,-7,42.6,-13.9,39.5C-20.8,36.4,-24.8,26.5,-29.8,17.4C-34.8,8.3,-40.7,0.1,-39.2,-6.7C-37.7,-13.4,-28.8,-18.6,-21.1,-22.6C-13.3,-26.7,-6.6,-29.6,1.6,-31.5C9.8,-33.4,19.6,-34.2,25.2,-29.8Z"
                                width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                                style="transition: all 0.3s ease 0s;" stroke="url(#sw-gradient)" />

                        </svg>

                    </div>
                    <div class="d-none d-sm-block d-md-block d-lg-none d-xl-none">
                        <div data-aos="zoom-in-up" class="card bg-transparent border-0 mt-2"><img
                                loading="lazy" src="assets/images/dinning.jpg" alt="jaswi_paint furnitures" class="card-img-top"
                                style="object-fit: cover; width: 100%; height: 350px; border-bottom-left-radius: 48%; border-bottom-right-radius: 48%;" />
                        </div>
                    </div>

                </div>
            </div>

        </section>


        <section class="d-block section-pad" style="min-height:400px" data-aos="zoom-in-up">
            <div class="row mx-auto py-2">
                <div class="col-lg-8 col-md-12">

                    <div class="grid-container">

                        <div class="grid-item">
                            <svg class="" xmlns="http://www.w3.org/2000/svg" id="sw-js-blob-svg" viewBox="0 0 100 100"
                                version="1.1">

                                <path fill="#F87537"
                                    d="M17.3,-20.2C23.3,-15.6,29.5,-11,33.6,-3.6C37.7,3.8,39.5,13.8,35.9,21.2C32.2,28.6,23,33.2,14,35.1C4.9,36.9,-3.9,36,-12.8,33.5C-21.7,31,-30.6,26.9,-35.4,19.9C-40.2,12.8,-40.8,2.8,-38.4,-6.1C-36.1,-15,-30.8,-22.7,-23.9,-27.1C-17,-31.5,-8.5,-32.5,-1.4,-30.8C5.7,-29.1,11.3,-24.7,17.3,-20.2Z"
                                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0" />
                            </svg>
                        </div>

                        <div class="grid-item">
                            <svg xmlns="http://www.w3.org/2000/svg" id="sw-js-blob-svg" viewBox="0 0 100 100"
                                version="1.1">

                                <path fill="#FFFF99"
                                    d="M26.3,-21.7C30.5,-15.8,27.8,-5,24.7,4.6C21.7,14.2,18.4,22.8,12.4,25.6C6.4,28.3,-2.2,25.4,-8.4,21C-14.6,16.7,-18.5,10.9,-21,3.6C-23.6,-3.6,-24.9,-12.3,-21.2,-18.1C-17.5,-23.9,-8.7,-27,1.2,-27.9C11.1,-28.8,22.1,-27.7,26.3,-21.7Z"
                                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                                    style="transition: all 0.3s ease 0s;" />
                            </svg>
                        </div>

                        <div class="grid-item">
                            <svg xmlns="http://www.w3.org/2000/svg" id="sw-js-blob-svg" viewBox="0 0 100 100"
                                version="1.1">

                                <path fill="#FFCC66"
                                    d="M27.5,-25.4C35.1,-19.9,40.4,-9.9,38.3,-2.1C36.2,5.7,26.7,11.5,19.1,16.5C11.5,21.5,5.7,25.7,-3,28.7C-11.7,31.7,-23.4,33.4,-30.7,28.4C-38,23.4,-40.8,11.7,-40,0.8C-39.2,-10.1,-34.8,-20.3,-27.5,-25.8C-20.3,-31.3,-10.1,-32.2,-0.1,-32.1C9.9,-32,19.9,-30.9,27.5,-25.4Z"
                                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0" />
                            </svg>
                        </div>

                        <div class="grid-item">
                            <!--?xml version="1.0" standalone="no"?--> <svg id="sw-js-blob-svg" viewBox="0 0 100 100"
                                xmlns="http://www.w3.org/2000/svg" version="1.1">

                                <path fill="#9999FF"
                                    d="M22.2,-9.2C26.8,-5,26.9,5.3,22.5,11.3C18,17.4,9,19.1,0.4,18.9C-8.3,18.7,-16.5,16.5,-20.2,10.9C-23.8,5.3,-22.9,-3.7,-18.8,-7.7C-14.6,-11.6,-7.3,-10.6,0.8,-11C8.9,-11.5,17.7,-13.4,22.2,-9.2Z"
                                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                                    style="transition: all 0.3s ease 0s;"></path>
                            </svg>
                        </div>
                        <div class="grid-item">
                            <!--?xml version="1.0" standalone="no"?--> <svg id="sw-js-blob-svg" viewBox="0 0 100 100"
                                xmlns="http://www.w3.org/2000/svg" version="1.1">

                                <path fill="#CCCCFF"
                                    d="M21.9,-21.3C28.8,-15,35.2,-7.5,32.5,-2.7C29.8,2.1,18.1,4.2,11.1,10C4.2,15.8,2.1,25.4,-2.3,27.7C-6.8,30.1,-13.5,25.2,-17.3,19.3C-21.2,13.5,-22,6.8,-21.8,0.3C-21.5,-6.2,-20,-12.4,-16.2,-18.8C-12.4,-25.1,-6.2,-31.6,0.6,-32.3C7.5,-32.9,15,-27.7,21.9,-21.3Z"
                                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                                    style="transition: all 0.3s ease 0s;" />
                            </svg>
                        </div>
                        <div class="grid-item">
                            <!--?xml version="1.0" standalone="no"?--> <svg id="sw-js-blob-svg" viewBox="0 0 100 100"
                                xmlns="http://www.w3.org/2000/svg" version="1.1">

                                <path fill="#FFCCFF"
                                    d="M26.6,-12.2C31.5,-6.9,30.4,5,25,16.4C19.6,27.8,9.8,38.6,-0.9,39.1C-11.5,39.6,-23.1,29.8,-28.2,18.6C-33.3,7.4,-32,-5.2,-26.3,-11C-20.5,-16.8,-10.2,-15.9,0.3,-16C10.9,-16.2,21.7,-17.5,26.6,-12.2Z"
                                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                                    style="transition: all 0.3s ease 0s;" stroke="url(#sw-gradient)"></path>
                            </svg>
                        </div>
                    </div>




                </div>
                <div class=" col-lg-4 col-md-12 card bg-transparent border-0">
                    <div style="font-size: 14px;" class="card bg-transparent border-0">
                        <h3 class="text-justify pb-3 cursive">Painting works</h3>
                        <p class="">
                            We provide high-quality paints and coats for automotive, industrial and
                            decorative sectors. We choose perfect products which emphasis on innovative paintings and
                            eco-friendliness approach while painting. Our painter works with intention of delivery on
                            time.Our
                            paint solutions that not only serve your needs, but also saves your valuable time by
                            completing the work on time.

                        </p>
                        <p>
                            We also do repainting works and fresh painting works
                        </p>
                    </div>
                    <div class="w-sm-100 w-md-25 my-auto">

                        <button type="button" class="btn btn-outline-secondary">Contact For Estimation</button>
                    </div>
                </div>

            </div>
        </section>


    </div>






    <app-footer></app-footer>
<!-- </div> -->

</div>