<carousel class="rounded" style="height: 200px;" [showIndicators]="showIndicator" [interval]="myInterval" [isAnimated]="true">
    <slide>
      <img src="assets/images/hall1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block mb-3">
        <h3>Living Room</h3>
      </div>
    </slide>
    <slide>
      <img src="assets/images/hall2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block mb-3">
        <h3>Dinning</h3>
      </div>
    </slide>
    <slide>
      <img src="assets/images/studyroom.jpg" alt="second slide" style="display: block; width: 100%;">
      <!-- <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;"> -->
      <div class="carousel-caption d-none d-md-block mb-3">
        <h3>Work From Home</h3>
      </div>
    </slide>
  </carousel>